<html>
<head>
<title> Inventory Management System</title>
<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    .Submit_button{text-align: center;}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/database" method="GET">
        <button class="btn btn-primary">back</button>
    </form>
    <a href="/delete?_id=<%= results._id%>" class="btn btn-primary" role="button">Delete</a>
    <a href="/update?_id=<%= results._id%>"class="btn btn-primary" role="button">Update</a>
    <h1>Inventory Management System</h1>
    <h2>Detail of <%= results.name %> </h2>
    <ul>

            <li>Name:<%= results.name %></a></li>
            <li>Type:<%= results.type %></a></li>
            <li>Quantity:<%= results.quantity %></a></li>
            <li>Street:<%= results.inventory_address[0].street%></a></li>
            <li>Building:<%= results.inventory_address[0].building%></a></li>
            <li>Country:<%= results.inventory_address[0].country %></a></li>
            <li>Zipcode:<%= results.inventory_address[0].zipcode %></a></li>
            <li>GPS:{<%= results.inventory_address[0].coord[0].lantitude,results.inventory_address[0].coord[0].longitude %>}</a></li>
            <li>Manager:<%= results.manager %></a></li>
            <a class="btn btn-primary" href="/map?lat=<%= results.inventory_address[0].coord[0].lantitude%>&lon=<%= results.inventory_address[0].coord[0].longitude%>"btn btn-primary" role="button">Map</a>
    </ul>
</body>
</html>
